.list {
    display: block;
    position: relative;
    width: 75%;
    background: var(--neutral-color);
    border: 1px solid var(--border-color);
    margin: 0 auto;
  }
  
.list .header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 115%;
    padding: 1.5em 0;
    border-bottom: 1px solid var(--border-color);
}

.list .header .icon {
    cursor: pointer;
    transition: .15s ease-out;
}

.list .body {
    position: relative;
    height: 300px;
    overflow: scroll;
    background: var(--neutral-color);
    transition: 0.25s ease-out;
}

.button {
    margin: 8px;
    position: relative;
}